/*************************** FONTS  *********************************/
@font-face {
  font-family: 'robotoLight';
  src: url('fonts/Roboto-Light.eot');
  src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*************************** GENERAL  *********************************/

*{
    margin: 0;
    padding: 0;
    font-family: 'robotoLight';
}
.wrapper{
     margin: 0 auto;
    padding: 0px 56px;
}
.error{
     color: red;
    float: right;
}
/*****************************  Top Header ***********************************/
header{
     background-color: #0068de;
     color: white;
     height: 125px;
     width: 100%;
}
header img{
     width: 308px;
    height: 92px;
    float: left;
    margin-top: 58px;
    margin-left: 5%;
}
header h1{
  font-family: 'robotoLight';
  float: right;
  padding-top: 16px;
  padding-right: 46px;
  font-size: 36px;
}

.cometa{
     background-color: #0068de;
}

.mil1{
     background-color: #4078a4;
}
.util{
     background-color: #6d7dc8;
}
.garcia{
     background-color: #37ab52;
}
.catarinense{
     background-color: #4eacee;
}
.expresso-guanabara{
     background-color: #c13235;
}
.pluma{
     background-color: #004785;
}
.andorinha{
     background-color: #247830;
}
.expresso-brasileiro{
     background-color: #7ea842;
}
.expresso-do-sul{
     background-color: #184ce5;
}
.costa-verde{
     background-color: #B6E300;
}
.real-expresso{
     background-color: #FF0000;
}
.sampaio{
     background-color: #62B6D8;
}
.progresso{
     background-color: #32428d;
}
.penha{
     background-color: #ed4104;
}
.nacional-expresso{
     background-color: #210b64;
}
.rapido-federal{
     background-color: #778ABD;
}
.brasil-sul{
     background-color: #000000;
}
.gardenia{
     background-color: #9C2829;
}
.aguia-branca{
     background-color: #ea0300;
}
.itapemirim{
     background-color: #feee00;
}
.passagem {
  background-color: #ffde6b;
}
.passagem-btn {
  background-color: #00b3dc;
}

.preto-txt {
  color:#000 !important;
}

.Clickbus_logo {
  float: left;
  width: 230px;
  height: 74px;
  background: url(../images/webapp_cometa_sprite.png) -128px -2px;
  text-indent: -9999em;
  margin: 27px 0 0 55px;
}

.Clickbus_cometa {
  float: left;
  width: 125px;
  height: 40px;
  margin: 53px 0 0 55px;
}

.Clickbus_bus {
  float: right;
  width: 179px;
  height: 124px;
  background: url(../images/webapp_cometa_sprite.png) -382px -140px;
  text-indent: -9999em;
  margin: 12px 51px 0 0;
}

.Clickbus_pointer {
  float: left;
  width: 15px;
  height: 17px;
  background: url(../images/webapp_cometa_sprite.png) -198px -113px;
  text-indent: -9999em;
  margin: 9px 3px 0 0;
}

.Clickbus_cal {
  float: left;
  width: 15px;
  height: 17px;
  background: url(../images/webapp_cometa_sprite.png) -62px -106px;
  text-indent: -9999em;
  margin: 8px 3px 0 0;
}

.Clickbus_Logofot {
  float: left;
  width: 164px;
  height: 56px;
  background: url(../images/webapp_cometa_sprite.png) -216px -135px;
  text-indent: -9999em;
  margin: 3px 0 0 48px;
}

.Clickbus_Lock {
  float: left;
  width: 32px;
  height: 40px;
  background:  url(../images/webapp_cometa_sprite.png) -83px -92px;
  text-indent: -9999em;
  margin: 5px 0 0 20px;
}

.poseguro {
    width: 225px;
    float:right;
}

.poseguro h3  {
  margin: 8px 0 0 10px;
  font-size: 24px;
}

/***************************** BANNER  *************************************/ 
.banner{
    background-color: #f5f5f5;
    margin-top: 0;
    width:100%;
    display: block;
    height: 150px;
    position: relative;
}
.banner #cometa{
    float: left;
    margin-top: 53px;
    margin-left: 5%;
}
.banner #bus{
    float: right;
    margin-right: 5%;
    margin-top: 20px;
}
/******************************* FORM ************************************/

form h2 {
    font-size: 37.88px;     
    font-family: 'robotoLight';
    color: #282828;
    text-align: center; 
    margin-bottom: 15px; 
    margin-top: 12px; 
}
form span {
     font-family: 'robotoLight'; 
}
form .pointer{
     float: left;
    height: 26px;
    margin-right: 15px;
    position: relative;
    top:5px;
}
form label{
    font-family:'robotoLight';
    font-size: 26px;
    color: #484848;
}
form input[type="text"]{
    width: 100%;
    padding-top: 47px;
    padding-left: 30px;
    padding-bottom: 47px;
    margin-top: 5px;
    margin-bottom: 8px;
    box-sizing: border-box;
    font-family: 'robotoLight';
    border:1px solid #9c9c9d;
}
form .ida{
     float: left;
     width:50%;
     box-sizing: border-box;
     padding-right: 10px;
}
form .volta{
     float: right;
     width:50%;
}

form .volta .btn_hjmn {
  float: left;
  width: 48%;
  background: #f5f5f5;
  padding: 42px 0;
  text-align: center;
  text-decoration: none;
  color: #989898;
  font-family: 'robotoLight';
  font-size: 26px;
  margin-top: 39px;
  border: none;
}

form .volta .btn_hjmn.btn_amanha {
margin-left: 10px;
}

form .volta .btn_hjmn:hover {
    background: #989898;
    color: #f5f5f5;
}

form .volta .btn_hjmn.ativo {
    background: #989898;
    color: #f5f5f5;
}

#frmBus {
  color: #fff;
  width: 100%;
  padding: 10px 0;
  font-size: 21px;
  border: none;
  margin: 20px 0;
}

.text p{
     font-size: 20px;
     color: #282828;
    padding: 10px;
    font-family: "robotoLight";
    line-height: 40px;
    text-align: center;
}
.datepicker{
     display: block;
}

.twitter-typeahead {
  width: 100%;
 
}

.tt-dropdown-menu {
  background: #fff;
  width:100%;
}

.tt-dataset-states{
  background: #0c0;
}

.tt-suggestion {
  background: #f0f0f0;
  padding: 6px 0;
  border-top: 1px solid #ddd;
  text-align: left;
  text-indent: 4px;
  float:left;
  width: 100%;
}

#pikadayinner {
  float: left;
  width: 100%;
  display:none;
}

/************************ MEIO **************************************/

.meio h2 {
  font-size: 19px;
  font-family: 'robotoLight';
  color: #282828;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 12px;
  font-family: helvetica;
  float:left;
  width: 100%
}
 .wrapper.meio h2 {
  margin-top:20px;
 }

.meio ul.ClickBus_principais{
  float:left;
  width:100%;
  margin-bottom: 10px;
}

.meio ul.ClickBus_principais li {
  float:left;
  border-top: 1px solid #B1B1B1;
  width:100%;
}

.meio ul.ClickBus_principais li:last-child {
  border-bottom: 1px solid #B1B1B1;
}

.meio ul.ClickBus_principais a {
  float: left;
  width: 100%;
  padding: 15px 0;
  text-indent: 12px;
  text-decoration: none;
  color: #333;
  font-family: helvetica;
  font-size: 12px;
  line-height: 18px;
}

.meio ul.ClickBus_principais a b {
  color:#000;
  font-family: helvetica;
}

.meio ul.ClickBus_principais a .ico_seta {
  float: right;
  width: 14px;
  height: 16px;
  background: url(../images/webapp_cometa_sprite.png) -187px -85px;
  text-indent: -9999em;
  margin: 0 13px 0 0;
}

.meio ul.ClickBus_rodoviarias  {
  float: left;
  width: 100%;
  margin: 20px 0;
}

.meio ul.ClickBus_rodoviarias {
  list-style-type:disc;

}

.meio ul.ClickBus_rodoviarias li {
  display:block;
  list-style: disc;
  font-size: 12px;
}

.wrapper.meio p {
   text-align: left;
  font-size: 15px;
}

.ClickBus_fone {
  color: #fff;
  padding: 10px;
  background: #000;
  margin-left: 10px;
  text-decoration: none;
}

.ClickBus_fone:active, .ClickBus_fone:hover, {
 text-decoration: underline;
}

/************************ FOOTER **************************************/
footer{
    clear: both;
    overflow: hidden;
     background-color: #f6f6f6;  
}
footer img{
    padding-top: 10px;
     float: left;
    height: 50px;
    padding-bottom: 20px;
}
footer .footerLogo{
     width:48%;  
    float: left;
}
.footerLogo img{
     float: right;
    margin-right: 30px;
    position: relative;
    top: 10px;
}
footer .seguro{
     width: 48%;
    float: right;
    padding-left: 20px;
}
.seguro img{
     position: relative;
    top: 10px;
    padding-right: 10px;
}

.wrapper.foot {
  padding: 15px 10px 20px 0;
}

.cometa{
     background-color: #0068de;
}



.land h2 {
  font-size: 19px;
  font-family: 'robotoLight';
  color: #282828;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 12px;
  float:left;
  width: 100%
}

.Clickbus_banner_land {
  float: left;
  width: 167px;
  height: 64px;
  background: url(../images/passagemdeonibus/circulo.svg);
  background-size: 100%;
  background-position: 50% 50%;
  color: #fff;
  text-align: center;
  line-height: 21px;
  padding: 13px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 14px;
}

.land ul  {
  float: left;
  width: 100%;
  margin-bottom:20px;
}

.land ul li {
  display: inline
}

.land ul li a {
  width: 31%;
  margin: 0 0 8px 5px;
  float: left;
}

.land ul li a img {
  width: 100%;
}
/************************  QUERIES  *****************************/
@media(max-width:1184px){
 #cometa{width: 35%; }
 #bus{width: 30%;}
}
@media(max-width:722px){  
    .footerLogo #footerClickBus{width: 110px; height: 32px;}
    .seguro img{height: 32px; width: 24px;}
    footer h3{margin: 13px 5px 0 0; text-align:left; font-size: 16px;}
    .wrapper{padding: 0 10px;}
    form h2{  font-size: 17px; }
    .banner{height: 150px;}
}
@media(max-width:614px){
    form .pointer{top:0px; height: 18px; margin-right: 8px; }
    .banner{height: 90px;}
    header {height: 60px;}
    .poseguro {
  width: 140px;
  float: right;
}
.poseguro h3  {
  margin: 12px 0 0 0;
  font-size: 14px;
}
 .Clickbus_logo {
  float: left;
  width: 130px;
  height: 45px;
  background: url(../images/webapp_cometa_sprite.png) 4px -13px;
  text-indent: -9999em;
  margin: 3px 0 0 6px;
}

.Clickbus_cometa {
  float: left;
  width: 125px;
  height: 40px;
  margin: 28px 0 0 15px;
}

.Clickbus_bus {
  float: right;
  width: 106px;
  height: 73px;
  background: url(../images/webapp_cometa_sprite.png) -171px -186px;
  text-indent: -9999em;
  margin: 7px 15px 0 0;
}

.Clickbus_pointer {
  float: left;
  width: 15px;
  height: 17px;
  background: url(../images/webapp_cometa_sprite.png) -176px -112px;
  text-indent: -9999em;
  margin: 3px 3px 0 0;
}

.Clickbus_cal {
  float: left;
  width: 15px;
  height: 17px;
  background: url(../images/webapp_cometa_sprite.png) -62px -106px;
  text-indent: -9999em;
  margin: 3px 3px 0 0;
}

.Clickbus_Logofot {
  float: left;
  width: 120px;
  height: 42px;
  background: url(../images/webapp_cometa_sprite.png) -225px -131px;
  text-indent: -9999em;
  margin: 3px 0 0 5px;
}

.Clickbus_Lock {
  float: left;
  width: 32px;
  height: 40px;
  background:  url(../images/webapp_cometa_sprite.png) -83px -92px;
  text-indent: -9999em;
  margin: 5px 0 0 20px;
}
    header #logo{width: 120px; height: 36px; margin-top: 6px;}
    header h1{ padding-right: 20px; font-size: 16px; margin: 12px 0 0 0; padding-top: 10px; }
    form label{font-size: 14px;}
}
@media(max-width:537px){
    .banner{height: 90px; margin-top: 0;}
     .banner #cometa{ margin-top:33px; }
    .banner #bus{margin-top: 10px;}
    form input[type=submit]{font-size: 21px; margin-top: 5px;}
    form input[type=text]{padding: 5px;}
    form .volta .btn_hjmn {   padding: 10px 0; font-size: 14px; font-weight:bold; margin-top: 21px; width: 46%; }
    .footerLogo img{margin-right: 5px;}
    footer .seguro{padding-left: 0;}
    .text p{font-size: 14px; line-height: 22px;}


.Clickbus_logo {
   float: left;
  width: 130px;
  height: 45px;
  background: url(../images/webapp_cometa_sprite.png) 4px -13px;
  text-indent: -9999em;
  margin: 3px 0 0 6px;
}

.Clickbus_logo.preto {
  background: url(../images/webapp_cometa_sprite.png) -274px -201px;
}


.Clickbus_cometa {
  float: left;
  width: 125px;
  height: 40px;
  margin: 28px 0 0 15px;
}

.Clickbus_bus {
  float: right;
  width: 106px;
  height: 73px;
  background: url(../images/webapp_cometa_sprite.png) -171px -186px;
  text-indent: -9999em;
  margin: 7px 15px 0 0;
}

.Clickbus_pointer {
  float: left;
  width: 15px;
  height: 17px;
  background: url(../images/webapp_cometa_sprite.png) -176px -112px;
  text-indent: -9999em;
  margin: 3px 3px 0 0;
}

.Clickbus_cal {
  float: left;
  width: 15px;
  height: 17px;
  background: url(../images/webapp_cometa_sprite.png) -62px -107px;
  text-indent: -9999em;
  margin: 3px 3px 0 0;
}

.Clickbus_Logofot {
  float: left;
  width: 120px;
  height: 42px;
  background: url(../images/webapp_cometa_sprite.png) -225px -131px;
  text-indent: -9999em;
  margin: 3px 0 0 8px;
}

.Clickbus_Lock {
  float: left;
  width: 32px;
  height: 40px;
  background:  url(../images/webapp_cometa_sprite.png) -83px -94px;
  text-indent: -9999em;
  margin: 5px 0 0 20px;
}


}

@media(max-width:434px){
 footer #footerClickBus{margin: 0; width: 90%;}
}
